In [2]:
# importação bibliotecas

import pandas as pd                       # importação pandas

In [3]:
# importação de dados

file = './data/drinks.csv'
drinks = pd.read_csv(file)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa

In [4]:
# nome e tipos de dados das colunas

drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

In [5]:
# tipos de dados

drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

In [6]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa

In [7]:
# conversão de tipos

drinks['beer_servings'] = drinks['beer_servings'].astype('float64')

In [8]:
# verificação da alteração

drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

In [10]:
# modificação com a importação 

drinks = pd.read_csv(file, dtype={'beer_servings': float})
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

In [13]:
# dataset sandwiches

file_2 = './data/sanduiches.txt'
vendas = pd.read_table(file_2)
vendas.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [14]:
# colunas

vendas.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [15]:
# tipos de dados

vendas.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [16]:
# conversao de tipos e retornando a média dos preços

vendas['item_price'] = vendas['item_price'].str.replace('$', '').astype('float64')
vendas.item_price.mean()

C:\Users\Caíque Miranda\AppData\Local\Temp\ipykernel_9408\2444610837.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  vendas['item_price'] = vendas['item_price'].str.replace('$', '').astype('float64')

7.464335785374297

In [17]:
# verficação da alteração

vendas.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

In [18]:
# uso de contains, verifica se existe algum valor que contenha o valor passado

vendas.item_name.str.contains('Chicken').head()

0    False
1    False
2    False
3    False
4     True
Name: item_name, dtype: bool

In [19]:
# conversão de tipos boolean para inteiro

vendas.item_name.str.contains('Chicken').astype('int64').head()

0    0
1    0
2    0
3    0
4    1
Name: item_name, dtype: int64

In [20]:
# usando vairiaveis

vendas_int = vendas.item_name.str.contains('Chicken').astype('int64')

vendas_int.head()

0    0
1    0
2    0
3    0
4    1
Name: item_name, dtype: int64

In [26]:
# filtro 'tomato'
# criando o filtro

tomato = vendas.item_name.str.contains('Tomato').head().astype('int64')
tomato_filter = vendas.item_name.str.contains('Tomato').astype('int64')
tomato.head()

0    1
1    0
2    0
3    0
4    0
Name: item_name, dtype: int64

In [37]:
# aplicando o filtro

vendas[tomato_filter == 1]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,2.39
55,25,1,Chips and Fresh Tomato Salsa,NaN,2.39
89,39,1,Chips and Fresh Tomato Salsa,NaN,2.95
183,82,1,Chips and Fresh Tomato Salsa,NaN,2.95
...,...,...,...,...,...
4231,1689,1,Chips and Fresh Tomato Salsa,NaN,2.95
4318,1722,1,Chips and Fresh Tomato Salsa,NaN,2.95
4324,1725,1,Chips and Fresh Tomato Salsa,NaN,2.95
4425,1764,1,Chips and Fresh Tomato Salsa,NaN,2.95
4503,1790,1,Chips and Fresh Tomato Salsa,NaN,2.95

In [32]:
# apenas a soma dos valores

passo01 = vendas.item_name.str.contains('Tomato').astype('int64')
passo02 = passo01.sum()
passo02

111

In [39]:
# busca por coca cola 

vendas.item_name.str.contains('Coke').astype(int).sum()

0

In [41]:
# busca por Coke em outra variavel

vendas.choice_description.str.contains('Coke').astype(int).sum()

ValueError: cannot convert float NaN to integer