In [1]:
# importação bibliotecas

import pandas as pd                       # importação pandas
import numpy as np                        # importação numpy

In [2]:
# series

In [3]:
numeros = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
numeros

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
dtype: int64

In [4]:
type(numeros)

pandas.core.series.Series

In [5]:
numeros.index

RangeIndex(start=0, stop=12, step=1)

In [6]:
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']

In [7]:
meses_sr = pd.Series(np.arange(1, 13), index = meses)
meses_sr

Janeiro       1
Fevereiro     2
Março         3
Abril         4
Maio          5
Junho         6
Julho         7
Agosto        8
Setembro      9
Outubro      10
Novembro     11
Dezembro     12
dtype: int32

In [8]:
meses_sr.index

Index(['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho',
       'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      dtype='object')

In [9]:
# series com dicionarios

In [10]:
wold_cup = {'Brasil':5,
            'Alemanha':4,
            'Italia':4,
            'Argentina':2,
            'Uruguai':2,
            'Inglaterra':1, 
            'França':1}

In [11]:
wold_cup_sr = pd.Series(wold_cup)
wold_cup_sr

Brasil        5
Alemanha      4
Italia        4
Argentina     2
Uruguai       2
Inglaterra    1
França        1
dtype: int64

In [12]:
wold_cup_sr = pd.Series(wold_cup, 
                        index=['Brasil', 'Alemanha', 'Italia', 
                               'Argentina', 'Uruguai','Inglaterra', 'Espanha'],
                               name='wcSeries')

In [13]:
wold_cup_sr

Brasil        5.0
Alemanha      4.0
Italia        4.0
Argentina     2.0
Uruguai       2.0
Inglaterra    1.0
Espanha       NaN
Name: wcSeries, dtype: float64

In [14]:
wold_cup_sr.index

Index(['Brasil', 'Alemanha', 'Italia', 'Argentina', 'Uruguai', 'Inglaterra',
       'Espanha'],
      dtype='object')

In [15]:
wold_cup_sr['Brasil']

5.0

In [16]:
wold_cup_sr[0]

5.0

In [17]:
wold_cup_sr['Espanha'] = 1
wold_cup_sr

Brasil        5.0
Alemanha      4.0
Italia        4.0
Argentina     2.0
Uruguai       2.0
Inglaterra    1.0
Espanha       1.0
Name: wcSeries, dtype: float64

In [18]:
wold_cup_sr[1:3]

Alemanha    4.0
Italia      4.0
Name: wcSeries, dtype: float64

In [19]:
# filtro

wold_cup_sr[wold_cup_sr > 3]

Brasil      5.0
Alemanha    4.0
Italia      4.0
Name: wcSeries, dtype: float64

In [20]:
# importando arquivos planilha 'Excel'

# file = '../data/aquivo.xlsx'

# xls = pd.read_excel(file)

# print(xls.sheet_names)
# >> nomes das planilhas

In [21]:
# file = xls.parse('nome_da_planilha)
# 
# primeiros registros
# file.head()

In [22]:
# retorna o type(dataframe)

In [23]:
# primeiro registro
# file['label'][0]
# uso com espaço dentro da label

In [24]:
# primeiro registro
# file.label[0]
# uso sem esoaço dentro da label