In [1]:
# importação bibliotecas

import pandas as pd                       # importação pandas

In [2]:
# verificação de tipo

In [3]:
# importação de dados 

file = './data/drinks.csv'
drinks = pd.read_csv(file)

In [4]:

drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

In [7]:
# Alteração de tipo de uma serie existente
# NÃO CONSEGUIMOS CONVERTER DIRETO -> população_int = drinks['population'].str.replace(',', '')

populacao_int = drinks['population'] = drinks.population.str.replace('.', '')
populacao_int.head()

C:\Users\Caíque Miranda\AppData\Local\Temp\ipykernel_2688\340560173.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  populacao_int = drinks['population'] = drinks.population.str.replace('.', '')

0    34660000
1     2876000
2    40061000
3    77281000
4    28081000
Name: population, dtype: object

In [8]:
inteiros = []

for i in drinks.population:
    a = i.replace('.', '')
    inteiros.append(int(a))

In [10]:
inteiros[:3]

[34660000, 2876000, 40061000]

In [11]:
# adc novo valor na coluna

drinks["pop_total"] = pd.Series(inteiros)

In [13]:
# informações do novo dataframe

drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   population                    193 non-null    object
 6   continent                     193 non-null    object
 7   pop_total                     193 non-null    int64
dtypes: float64(1), int64(4), object(3)
memory usage: 12.2+ KB

In [14]:
# primeiros registros

drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent,pop_total
0,Afghanistan,0,0,0,0.0,34660000,Asia,34660000
1,Albania,89,132,54,4.9,2876000,Europe,2876000
2,Algeria,25,0,14,0.7,40061000,Africa,40061000
3,Andorra,245,138,312,12.4,77281000,Europe,77281000
4,Angola,217,57,45,5.9,28081000,Africa,28081000

In [16]:
# novo dataframe

new_drinks = drinks.drop('population', axis=1, inplace=False)
new_drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
 6   pop_total                     193 non-null    int64
dtypes: float64(1), int64(4), object(2)
memory usage: 10.7+ KB

In [17]:
# estatisticas do novo dataframe

new_drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,pop_total
count,193.000000,193.000000,193.000000,193.000000,1.930000e+02
mean,106.160622,80.994819,49.450777,4.717098,3.849083e+07
std,101.143103,88.284312,79.697598,3.773298,1.396570e+08
min,0.000000,0.000000,0.000000,0.000000,1.190000e+03
25%,20.000000,4.000000,1.000000,1.300000,1.978300e+06
50%,76.000000,56.000000,8.000000,4.200000,8.412000e+06
75%,188.000000,128.000000,59.000000,7.200000,2.803790e+07
max,376.000000,438.000000,370.000000,14.400000,1.372470e+09