In [1]:
# importação bibliotecas

import pandas as pd                       # importação pandas
import numpy as np                        # importação numpy

In [2]:
# importação dos dados

file = '../data/Diarias.csv'
diarias = pd.read_csv(file, sep='\t')
diarias.head(3)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf3 in position 1: invalid continuation byte

In [3]:
# importação dos dados

file = '../data/Diarias.csv'
diarias = pd.read_csv(file, sep='\t', encoding='latin-1')
diarias.head(3)

,Código Órgão Superior,Nome Órgão Superior,Código Órgão Subordinado,Nome Órgão Subordinado,Código Unidade Gestora,Nome Unidade Gestora,Código Função,Nome Função,Código Subfunção,Nome Subunção,...,Nome Programa,Código Ação,Nome Ação,Linguagem Cidadã,CPF Favorecido,Nome Favorecido,Documento Pagamento,Gestão Pagamento,Data Pagamento,Valor Pagamento
0,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.008.30*-**,HUMBERTO GUEDES CAMPELO,2017OB800780,1,06/02/2017,"1263,20"
1,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.008.30*-**,HUMBERTO GUEDES CAMPELO,2017OB800993,1,20/02/2017,"2325,20"
2,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.016.72*-**,ANTONIO JOSE DE SENA BOMFIM,2017OB800926,1,14/02/2017,"300,20"

In [4]:
# tipo arquivo

type(diarias)

pandas.core.frame.DataFrame

In [5]:
# tamanho

diarias.shape

(38745, 21)

In [6]:
# tipo das variaveis

diarias.dtypes

Código Órgão Superior        int64
Nome Órgão Superior         object
Código Órgão Subordinado     int64
Nome Órgão Subordinado      object
Código Unidade Gestora       int64
Nome Unidade Gestora        object
Código Função                int64
Nome Função                 object
Código Subfunção             int64
Nome Subunção               object
Código Programa              int64
Nome Programa               object
Código Ação                 object
Nome Ação                   object
Linguagem Cidadã            object
CPF Favorecido              object
Nome Favorecido             object
Documento Pagamento         object
Gestão Pagamento             int64
Data Pagamento              object
Valor Pagamento             object
dtype: object

In [7]:
# impportação dados movies

file = '../data/movies.csv'
filmes = pd.read_csv(file)
filmes.head(3)

,star rating,title,content rating,genre,duration,actors list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [8]:
# descrição arquivo
# filmes.describe(include='all') todos os dados
filmes.describe()

       star rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [11]:
filmes.dtypes

star rating       float64
title              object
content rating     object
genre              object
duration            int64
actors list        object
dtype: object

In [12]:
filmes.shape

(979, 6)

In [13]:
# argumentos recebidos pelo describe
filmes.describe(include=['object'])

,title,content rating,genre,actors list
count,979,976,979,979
unique,975,12,16,969
top,Dracula,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6